server:
  port: 18081
  context-path: /
  tomcat:
    uri-encoding: utf-8

eureka:
 instance:
   prefer-ip-address: true
   instance-id: ${spring.cloud.client.ipAddress}:${server.port}
 client:
  healthcheck:
   enabled: true
  register-with-eureka: true
  fetch-registry: true
  service-url:
   defaultZone: http://${eureka.host:120.78.82.125}:${eureka.port:8761}/eureka/
spring:
  application:
    name: rouna-system
  cloud:
    config:
      enabled: true
      profile: dev
      label: master
      discovery:
        enabled: true
        service-id: Rouna-Config
  mvc:
    throw-exception-if-no-handler-found: true
logging:
  config: classpath:logback.xml