spring:
  application:
    name: rouna-system
  cloud:
    config:
      enabled: true
      profile: dev
      label: master
      discovery:
        enabled: true
        service-id: Rouna-Config
  #  数据库配置
  datasource:
    name: datasource
    url: jdbc:mysql://u6o5r8fa.2326.dnstoo.com:5505/rouna?useUnicode=true&characterEncoding=utf-8
    username: rouna_f
    filters: config
    connectionProperties: config.decrypt=true;config.decrypt.key=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALKlNyM8YnOdsrmVZ76hHaP6a2kg0pCnYyNjFUYpa747RFF57bZIbGtsCtaw354H4y1D96TNQ2+8tn0CCcIKidkCAwEAAQ==
    password: ZfgZ4vKq/dKYkBIuCjLAGVJD2aG1lYSyKbbUJxdKW1At7Tl2AKdF6u//qgPDDBI6eiGzUkMyq5Ilpe44Oa0gow==
    initialSize: 5
    minIdle: 5
    maxActive: 10
