spring:
  application:
    name: rouna-system
  cloud:
    config:
      enabled: true
      profile: dev
      label: master
      discovery:
        enabled: true
        service-id: Rouna-Config
  #  数据库配置
  datasource:
    name: datasource
    driver-class-name: com.mysql.jdbc.Driver
#    数据库用户名
    username: bdm257941252
#    数据库密码
    password: xiao88520
#    password: '{cipher}UGJ1NEAxMjM='
#    password: ${db.password}
    url: jdbc:mysql://bdm257941252.my3w.com:3306/bdm257941252_db?useUnicode=true&characterEncoding=utf-8
#    url: jdbc:mysql://{db.url}:{db.port}/{db.name}?useUnicode=true&characterEncoding=utf-8
    platform: mysql
    sql-script-encoding: utf-8
    continueOnError: false